<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Home {% endblock %}</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/startmin.css' %}"/>
    <link href="{% static 'website/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Icon-->
    <link rel="icon" href='{% static "website/images/favicon.ico" %}' type="image/x-icon"/>
    <script src="{% static 'website/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap-adaptive-tabs.css' %}"/>

    {% load cloudinary %}
    {% block extrafiles %}
    {% endblock %}
    {% load tags %}
</head>

<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-color navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">eBoard</a>
        </div>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!-- Top Navigation: Left Menu -->
        <ul class="nav navbar-nav navbar-left navbar-top-links">
            <li><a href="{% url 'dashboard' %}"><i class="fa fa-home fa-fw"></i> <span>Home</span></a></li>
        </ul>

        <!-- Top Navigation: Right Menu -->
        <ul class="nav navbar-right navbar-top-links">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> {% if user.is_authenticated %}{{ user.username }} {% endif %}<b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{% url 'profile' %}"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-key fa-fw"></i> Change Password</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- Sidebar -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="user-section">
                 <div class="user-icon">
                    <img class="img-circle img-responsive" src="{% if user.is_authenticated %}{% dp_request request %}{% endif %}">

                </div>
                <div class="user-detail">
                    <h4 class="user-name"><b>{% if user.is_authenticated %}{% name_request request %}{% endif %}</b></h4>
                    <h5 class="user-type"><b>{% if user.is_authenticated %}{% type_request request %}{% endif %}</b></h5>
                    <hr class="user-line-break">
                </div>
            </div>
            <div class="sidebar-nav navbar-collapse">

                <ul class="nav" id="side-menu">
                    <li>
                        <a href="{% url 'dashboard' %}" class="active"><b><i class="fa fa-dashboard fa-fw"></i> Dashboard</b></a>
                    </li>
                    <li>
                        <a href="{% url 'profile' %}" ><b><i class="fa fa-edit fa-fw"></i> Profile</b></a>
                    </li>
                    <li>
                        <a href="{% url 'change_password' %}" ><b><i class="fa fa-key fa-fw"></i> Change Password</b></a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    {% block dashboard %}
    {% endblock %}
</div>
</body>
</html>