{% extends 'website/base.html' %}

{% block title %} Dashboard {% endblock %}

{% block extrafiles %}
    {% load staticfiles %}
    <script src="{% static 'website/js/jquery.multi-select.js' %}" xmlns="http://www.w3.org/1999/html"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/multi-select.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/form-style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/form-elements.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/headstyle.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/dashboard.css' %}"/>
    <script src="{% static 'website/js/event-form.js' %}"></script>

    <script>
        $(function(){
            $(".daydiff").each(
             function(){
                var node = $(this).text();
                 var curdate = new Date();
               var diff =  Math.floor(( Date.parse(new Date().toDateString()) - Date.parse(node) ) / (24 * 60 * 60 * 1000));
                $(this).text(diff+" days ago");
            });
            $(".daydiffevent").each(
             function(){
                var node = $(this).text();
                var diff = Math.floor((Date.parse(node) - Date.parse(new Date().toDateString())) / (24 * 60 * 60 * 1000));
                $(this).text(diff+" days to go");
            });
            $('[id*="_date_"]').change();
            $('[id*="_date_"]').change(function () {
                var sd = $('#id_start_date_day').val();
                var sm = $('#id_start_date_month').val();
                var sy = $('#id_start_date_year').val();
                var ed = $('#id_end_date_day').val();
                var em = $('#id_end_date_month').val();
                var ey = $('#id_end_date_year').val();
                var start_d = new Date(sy, sm-1, sd);
                start_d.setHours(0,0,0,0);
                var end_d = new Date(ey, em-1, ed);
                end_d.setHours(0,0,0,0);
                if(start_d.getTime() > end_d.getTime()) {
                     // correct
                    $('.submitBtn').removeAttr('disabled');
                    $('.error').hide();
                }
                else {
                    $('.submitBtn').attr('disabled','disabled');
                    $('.error').show();
                }
            });

        });
        $(document).ready(function() {
            $("#editevent,#eventinfo").on("hidden.bs.modal", function() {
                $("#editevent,#eventinfo").removeData();
             });
        });
    </script>
{% endblock %}
{% block dashboard %}
    <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Dashboard</h1>
                        {% if user.is_authenticated %}
                            {% if messages %}
                                {% for msg in messages %}
                                    <div class="alert alert-{{ msg.level_tag }} rounded message">
                                        <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                                        <strong>{{ msg.message }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            <!-- ... Your content goes here ... -->
                <ul role="tablist" class="nav nav-tabs bs-adaptive-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#active">
                        <i class="fa fa-calendar-o fa-2x"></i>
                        <label>Active Events</label>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#expired">
                    <i class="fa fa-calendar-times-o fa-2x"></i>
                    <label>Expired Events</label>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#registered">
                        <i class="fa fa-calendar-check-o fa-2x"></i>
                        <label>Registered Events</label>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#myevent">
                    <i class="fa fa-table fa-2x"></i>
                    <label>Events Created by You</label>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#create-event">
                    <i class="fa fa-calendar-plus-o fa-2x"></i>
                    <label>Create Event</label>
                    </a>
                </li>
                </ul>
                <div class="tab-content">
                    <div id="active" class="tab-pane fade in active">
                        <br>
                        <div class="row">
                            {% for act_event in active_events %}
                                 <div class="col-lg-3 col-md-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-12 lead">
                                                    {{ act_event.eve.name }}
                                                </div>
                                                <div class="col-xs-12 e_start">
                                                    Event Starting on:{{ act_event.eve.start_date }}
                                                </div>
                                                <div class="col-xs-12 e_end">
                                                    Entry Close on:{{ act_event.eve.end_date }}
                                                </div>
                                            </div>
                                        </div>
                                            <div class="panel-footer">
                                                <a href="/allow/{{ act_event.eve.id }}/">
                                                <span class="pull-left"><i class="fa fa-check fa-2x"></i></span>
                                                </a>
                                                <a href="/event-info/{{ act_event.eve.id }}" data-toggle="modal" data-target="#eventinfo">
                                                <span class="pull-right"><i class="fa fa-info-circle fa-2x"></i></span>
                                                </a>
                                                <div class="clearfix"></div>
                                            </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div id="myevent" class="tab-pane fade">
                        <div class="row">
                            <br>
                            {% for myevent in my_events %}
                                <div class="col-lg-3 col-md-6">
                                    <div class="panel panel-green">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-12 lead">
                                                    {{ myevent.name}}
                                                </div>
                                                <div class="col-xs-12">
                                                    Event Starting on:{{ myevent.start_date }}
                                                </div>
                                                <div class="col-xs-12">
                                                    Entry Close on:{{ myevent.end_date }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="custom-panel-footer-faculty">
                                            <div class="col-xs-3 ">
                                                <a href="/edit-event/{{ myevent.id }}" data-toggle="modal" data-target="#editevent">
                                                    <div class="col-xs-3"><i class="fa fa-pencil fa-2x"></i></div>
                                                </a>
                                            </div>
                                            <div class="col-xs-3">
                                                <a href="{% url 'download' myevent.id%}">
                                                    <div class="col-xs-3" ><i class="fa fa-download fa-2x"></i></div>
                                                </a>
                                            </div>
                                            <div class="col-xs-3">
                                                <a href="/entries/{{ myevent.id }}">
                                                    <div class="col-xs-3"><i class="fa fa-eye fa-2x"></i></div>
                                                </a>
                                            </div>
                                            <div class="col-xs-3">
                                                <a href="{% url 'delete-event' myevent.id %}">
                                                    <div class="col-xs-3"><i class="fa fa-times-circle fa-2x"></i></div>
                                                </a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="expired" class="tab-pane fade">
                        <div class="row">
                        <br>
                            {% for event in expired_events %}
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-red">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 lead">
                                                {{ event.eve.name }}
                                            </div>
                                            <div class="col-xs-12">
                                                Event Starting on:{{ event.eve.start_date }}
                                            </div>
                                            <div class="col-xs-12">
                                                Entry Close on:{{ event.eve.end_date }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-footer">
                                        <a href="#">
                                            <span class="pull-left"><i class="fa fa-clock-o fa-2x"></i></span>
                                        </a>
                                        <a href="#">
                                            <span class="pull-right daydiff">{{ event.eve.end_date|date:'c' }}</span>
                                        </a>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                     </div>
                    <div id="registered" class="tab-pane fade">
                        <div class="row">
                        <br>
                            {%  for registered_event in registered %}
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 lead">
                                                {{ registered_event.event.name }}
                                            </div>
                                            <div class="col-xs-12">
                                                Event Starting on:{{ registered_event.event.start_date }}
                                            </div>
                                            <div class="col-xs-12">
                                                Entry Close on:{{ registered_event.event.end_date }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-footer">
                                        <a href="#">
                                            <span class="pull-left daydiffevent">{{ registered_event.event.start_date|date:'c' }}</span>
                                        </a>
                                        <a href="/event-info/{{ registered_event.event.id }}" data-toggle="modal" data-target="#eventinfo">
                                            <span class="pull-right"><i class="fa fa-info-circle fa-2x"></i></span>
                                        </a>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="create-event" class="tab-pane fade">
                    <br>
                    <div class="form-container">
                        <form class="form-horizontal event-form" action="{% url 'new-event' %}" method="post">
                            {% csrf_token %}
                            <fieldset>
                            <!-- Event Name-->
                             <div class="form-group">
                              <label class="col-md-4 control-label" for="event_name">Event Name</label>
                              <div class="col-md-4">
                              {{ event_form.name }}
                              </div>
                            </div>
                            <!-- End Date & Time-->
                            <div class="form-group">
                              <label class="col-md-4 control-label" for="event_end_date">Entry Closed on</label>
                              <div class="col-md-4">
                                {{ event_form.end_date }}
                              </div>
                            </div>
                             <!-- Start Date & Time-->
                            <div class="form-group">
                              <label class="col-md-4 control-label" for="event_start_date">Event Start On</label>
                              <div class="col-md-4">
                                {{ event_form.start_date }}
                              </div>
                            </div>
                            <div class="form-group error" style="color: red">
                              <label class="col-md-4 control-label"></label>
                              <div class="col-md-4">Invalid dates.
                              </div>
                            </div>
                            <!-- Description -->
                            <div class="form-group">
                              <label class="col-md-4 control-label" for="event_desc">Description</label>
                              <div class="col-md-4">
                                {{ event_form.description }}
                              </div>
                            </div>
                            <!--<div class="form-group">
                                <label class="col-md-4 control-label" for="category">Category</label>
                                <div class="col-md-4">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="category" value="CSE">CSE</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="category" value="IT">IT</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="category" value="ME">ME</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="category" value="Civil">Civil</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="category" value="ECE">ECE</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="category" value="EE">EE</label>
                                </div>
                            </div> -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="optgroup">Category</label>
                                <div class="col-md-4">
                                    <select name="category" class='optgroup' multiple='multiple'>
                                        <optgroup label='IV Year'>
                                            <option value=8CSA>8CSA</option>
                                            <option value=8CSB>8CSB</option>
                                            <option value=8CSC>8CSC</option>
                                            <option value=8CSD>8CSD</option>
                                        </optgroup>
                                        <optgroup label='III Year'>
                                            <option value=6CSA>6CSA</option>
                                            <option value=6CSB>6CSB</option>
                                            <option value=6CSC>6CSC</option>
                                            <option value=6CSD>6CSD</option>
                                        </optgroup>
                                        <optgroup label='II Year'>
                                            <option value=4CSA>4CSA</option>
                                            <option value=4CSB>4CSB</option>
                                            <option value=4CSC>4CSC</option>
                                            <option value=4CSD>4CSD</option>
                                        </optgroup>
                                        <optgroup label='I Year'>
                                            <option value=2CSA>2CSA</option>
                                            <option value=2CSB>2CSB</option>
                                            <option value=2CSC>2CSC</option>
                                            <option value=2CSD>2CSD</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="optgroup">Required Fields</label>
                                <div class="col-md-4">
                                    <select name="fields" class='optgroup' multiple='multiple'>
                                        <optgroup label='Basic Profile'>
                                            <option value='name' selected >Name</option>
                                            <option value='dob'>Date of Birth</option>
                                            <option value='age'>Age</option>
                                            <option value='gender'>Gender</option>
                                            <option value='birthplace'>Birth Place</option>
                                            <option value='contact'>Contact No.</option>
                                            <option value='alternate_contact'>Alternate Contact No.</option>
                                            <option value='passphoto'>Passport Size Photo</option>
                                            <option value='sign'>Signature</option>
                                        </optgroup>
                                        <optgroup label='Current Academic Details'>
                                            <option value='class_rno'>Class Roll No.</option>
                                            <option value='univ_rno'>University Roll No.</option>
                                            <option value='semester'>Current Semester</option>
                                            <option value='section'>Section</option>
                                            <option value='batch'>Batch</option>
                                            <option value='branch'>Branch</option>
                                            <option value='college'>College</option>
                                            <option value='per_sem1'>Semester 1</option>
                                            <option value='per_sem2'>Semester 2</option>
                                            <option value='per_sem3'>Semester 3</option>
                                            <option value='per_sem4'>Semester 4</option>
                                            <option value='per_sem5'>Semester 5</option>
                                            <option value='per_sem6'>Semester 6</option>
                                            <option value='per_sem7'>Semester 7</option>
                                            <option value='per_sem8'>Semester 8</option>
                                        </optgroup>
                                        <optgroup label='Previous Academic details'>
                                            <option value='admission_mode'>Admission Mode</option>
                                            <option value='admission_rank'>Admission Rank</option>
                                            <option value='percentage_tenth'>10th Percentage</option>
                                            <option value='board_tenth'>10th Board</option>
                                            <option value='medium_tenth'>10th Medium</option>
                                            <option value='year_tenth'> 10th Year</option>
                                            <option value='school_tenth'>10th School</option>
                                            <option value='percentage_twelfth'>12th Percentage</option>
                                            <option value='board_twelfth'>12th Board</option>
                                            <option value='medium_twelfth'>12th Medium</option>
                                            <option value='year_twelfth'>12th year</option>
                                            <option value='school_twelfth'>12th School</option>
                                            <option value='percentage_diploma'>Diploma Percentage</option>
                                            <option value='stream_diploma'>Diploma Stream</option>
                                            <option value='year_diploma'>Diploma Year</option>
                                            <option value='college_diploma'>Diploma College</option>
                                        </optgroup>
                                        <optgroup label='Addtional Details'>
                                            <option value='father_name'>Father's Name</option>
                                            <option value='father_contact'>Father's Contact No.</option>
                                            <option value='father_occupation'>Father's Occupation</option>
                                            <option value='mother_name'>Mother's Name</option>
                                            <option value='mother_contact'>Mother's Contact No.</option>
                                            <option value='mother_occupation'>Mother's Occupation</option>
                                            <option value='guardian_contact'>Guardian's Contact No.</option>
                                            <option value='present_address'>Permanent Address</option>
                                            <option value='permanent_address'>Present Address</option>
                                        </optgroup>
                                    </select>
                                    <script type="text/javascript">
                                        // run pre selected options
                                        $('.optgroup').multiSelect({
                                            selectableOptgroup: true
                                        });
                                    </script>
                                </div>
                            </div>


                            <div class="form-group">
                              <div class="col-md-8 pull-right">
                                <button class="btn btn-success submitBtn" disabled="disabled" type="submit" value="Submit">Submit</button>
                              </div>
                            </div>

                            </fieldset>

                        </form>
                    </div>
                </div>
                </div>


            </div>
    </div>
    <div id="editevent" class="modal fade" role="dialog">
      <div class="modal-admin">
        <!-- Modal content-->
        <div class="modal-content">

        </div>
      </div>
    </div>
    <div id="eventinfo" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

        </div>
      </div>
    </div>

{% endblock %}