{% extends 'website/base.html' %}

{% block title %} Dashboard {% endblock %}

{% block extrafiles %}
    {% load staticfiles %}
    <script src="{% static 'website/js/jquery.multi-select.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/multi-select.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/form-style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/form-elements.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/headstyle.css' %}"/>
    <style>
        .alert {
  border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.11);
  display: table;
  width: 100%;
}

.alert-white {
  background-image: linear-gradient(to bottom, #fff, #f9f9f9);
  border-top-color: #d8d8d8;
  border-bottom-color: #bdbdbd;
  border-left-color: #cacaca;
  border-right-color: #cacaca;
  color: #404040;
  padding-left: 61px;
  position: relative;
}

.alert-white.rounded {
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.alert-white.rounded .icon {
  border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
}

.alert-white .icon {
  text-align: center;
  width: 45px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #bdbdbd;
  padding-top: 15px;
}


.alert-white .icon:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid #bdbdbd;
  position: absolute;
  border-left: 0;
  border-bottom: 0;
  top: 50%;
  right: -6px;
  margin-top: -3px;
  background: #fff;
}

.alert-white .icon i {
  font-size: 20px;
  color: #fff;
  left: 12px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #98cce6;
  color: #3a87ad;
}

.alert-white.alert-info .icon,
.alert-white.alert-info .icon:after {
  border-color: #3a8ace;
  background: #4d90fd;
}

    </style>
    <script src="{% static 'website/js/event-form.js' %}"></script>
    <script>
        $(function(){
            if($('#msg').text()) {
                $('.message').show();
            }
            else
                $('.message').hide();
        });
    </script>

{% endblock %}

{% block dashboard %}
    <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Dashboard</h1>
                        {% if user.is_authenticated %}
                            <p>Hello,{{ user.username }}</p>
                            <div class="alert alert-info alert-white rounded message">
                                <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                                <div class="icon">
                                    <i class="fa fa-info-circle"></i>
                                </div>
                                <strong id="msg">{{ message }}</strong>

                            </div>
                        {% endif %}
                    </div>
                </div>
            <!-- ... Your content goes here ... -->
                <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#active">Active Events</a></li>
                <li><a data-toggle="tab" href="#expired">Expired Events</a></li>
                <li><a data-toggle="tab" href="#registered">Registered Events</a></li>
                <li><a data-toggle="tab" href="#faculty">Events Created by You</a></li>
                <li><a data-toggle="tab" href="#create-event">Create Event</a></li>
                </ul>
                <div class="tab-content">
                    <div id="active" class="tab-pane fade in active">
                        <br>
                        <div class="row">
                            {% for act_event in active_events %}
                                 <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12 lead">
                                        {{ act_event.eve.name }}
                                    </div>
                                    <div class="col-xs-12">
                                        {{ act_event.eve.description }}
                                    </div>
                                    <div class="col-xs-12">
                                        event start on:{{ act_event.eve.start_date }}
                                    </div>
                                    <div class="col-xs-12">
                                        entry close on:{{ act_event.eve.end_date }}
                                    </div>
                                </div>
                            </div>
                                <div class="panel-footer">
                                    <a href="/allow/{{ act_event.eve.id }}/">
                                    <span class="pull-left"><i class="fa fa-check fa-2x"></i></span>
                                    </a>
                                    <a href="#">
                                    <span class="pull-right"><i class="fa fa-times fa-2x"></i></span>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>

                        </div>
                    </div>
                            {% endfor %}

                        </div>
                    </div>

                    <div id="faculty" class="tab-pane fade">
                        <div class="row">
                            <br>
                            {% for myevent in my_events %}
                                <div class="col-lg-3 col-md-6">
                                    <div class="panel panel-green">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-12 lead">
                                                    {{ myevent.name}}
                                                </div>
                                                <div class="col-xs-12">
                                                    event start on:{{ myevent.start_date }}
                                                </div>
                                                <div class="col-xs-12">
                                                    entry close on:{{ myevent.end_date }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="custom-panel-footer-faculty">
                                            <div class="col-xs-3 ">
                                                <div style="background-color:#5cb85c; height:25px; width:25px; border-radius: 50%; line-height:25px; text-align:center; color:#fff">10</div>
                                            </div>
                                            <div class="col-xs-3">
                                                <a href="#">
                                                    <div class="col-xs-3" style="text-align:center;"><i class="fa fa-download fa-2x"></i></div>
                                                </a>
                                            </div>
                                            <div class="col-xs-3">
                                                <a href="/entries/{{ myevent.id }}">
                                                    <div class="col-xs-3"><i class="fa fa-eye fa-2x"></i></div>
                                                </a>
                                            </div>
                                            <div class="col-xs-3">
                                                <a href="{% url 'delete-event' myevent.id %}">
                                                    <div class="col-xs-3"><i class="fa fa-times-circle fa-2x"></i></div>
                                                </a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div id="expired" class="tab-pane fade">
                        <div class="row">
                        <br>
                            {% for event in expired_events %}
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-red">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 lead">
                                                {{ event.eve.name }}
                                            </div>
                                            <div class="col-xs-12">
                                                event start on:{{ event.eve.start_date }}
                                            </div>
                                            <div class="col-xs-12">
                                                entry close on:{{ event.eve.end_date }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-footer">
                                        <a href="#">
                                            <span class="pull-left"><i class="fa fa-clock-o fa-2x"></i></span>
                                        </a>
                                        <a href="#">

                                            <span class="pull-right">{{ event.eve.end_date }}</span>
                                        </a>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                     </div>

                    <div id="registered" class="tab-pane fade">
                        <div class="row">
                        <br>
                            {%  for registered_event in registered %}
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 lead">
                                                {{ registered_event.event.name }}
                                            </div>
                                            <div class="col-xs-12">
                                                event start on:{{ registered_event.event.start_date }}
                                            </div>
                                            <div class="col-xs-12">
                                                {{ registered_event.event.end_date }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-footer">
                                        <a href="#">
                                            <span class="pull-left"><i class="fa fa-clock-o fa-2x"></i></span>
                                        </a>
                                        <a href="#">
                                            <span class="pull-right">2 days ago</span>
                                        </a>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="create-event" class="tab-pane fade">
                    <br>
                    <div class="row">
                        <form class="form-horizontal event-form" action="{% url 'new-event' %}" method="post">
                            {% csrf_token %}
                            <fieldset>
                            <!-- Event Name-->
                                <!-- Description -->
                             <div class="form-group">
                              <label class="col-md-4 control-label" for="event_name">Event Name</label>
                              <div class="col-md-4">
                              {{ event_form.name }}
                              </div>
                            </div>

                             <!-- Start Date & Time-->
                            <div class="form-group">
                              <label class="col-md-4 control-label" for="event_desc">Description</label>
                              <div class="col-md-4">
                                {{ event_form.description }}
                              </div>
                            </div>
                            <!-- End Date & Time-->
                            <div class="form-group">
                              <label class="col-md-4 control-label" for="event_start_date">Event Start On</label>
                              <div class="col-md-4">
                                {{ event_form.start_date }}
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-md-4 control-label" for="event_end_date">Entry Closed on</label>
                              <div class="col-md-4">
                                {{ event_form.end_date }}
                              </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="category">Category</label>
                                <div class="col-md-4">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="category" value="CSE">CSE</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="category" value="IT">IT</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="category" value="ME">ME</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="category" value="Civil">Civil</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="category" value="ECE">ECE</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="category" value="EE">EE</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="optgroup">Select Required Fields</label>
                                <div class="col-md-4">
                                    <select name="fields" id='optgroup' multiple='multiple'>
                                        <optgroup label='Basic Profile'>
                                            <option value='name' selected >Name</option>
                                            <option value='dob'>Date of Birth</option>
                                            <option value='age'>Age</option>
                                            <option value='gender'>Gender</option>
                                            <option value='birthplace'>Birth Place</option>
                                            <option value='contact'>Contact No.</option>
                                            <option value='alternate_contact'>Alternate Contact No.</option>
                                            <option value='passphoto'>Passport Size Photo</option>
                                            <option value='sign'>Signature</option>
                                        </optgroup>
                                        <optgroup label='Current Academic Details'>
                                            <option value='class_rno'>Class Roll No.</option>
                                            <option value='univ_rno'>University Roll No.</option>
                                            <option value='semester'>Current Semester</option>
                                            <option value='section'>Section</option>
                                            <option value='batch'>Batch</option>
                                            <option value='branch'>Branch</option>
                                            <option value='college'>College</option>
                                            <option value='per_sem1'>Semester 1</option>
                                            <option value='per_sem2'>Semester 2</option>
                                            <option value='per_sem3'>Semester 3</option>
                                            <option value='per_sem4'>Semester 4</option>
                                            <option value='per_sem5'>Semester 5</option>
                                            <option value='per_sem6'>Semester 6</option>
                                            <option value='per_sem7'>Semester 7</option>
                                            <option value='per_sem8'>Semester 8</option>
                                        </optgroup>
                                        <optgroup label='Previous Academic details'>
                                            <option value='admission_mode'>Admission Mode</option>
                                            <option value='admission_rank'>Admission Rank</option>
                                            <option value='percentage_tenth'>10th Percentage</option>
                                            <option value='board_tenth'>10th Board</option>
                                            <option value='medium_tenth'>10th Medium</option>
                                            <option value='year_tenth'> 10th Year</option>
                                            <option value='school_tenth'>10th School</option>
                                            <option value='percentage_twelfth'>12th Percentage</option>
                                            <option value='board_twelfth'>12th Board</option>
                                            <option value='medium_twelfth'>12th Medium</option>
                                            <option value='year_twelfth'>12th year</option>
                                            <option value='school_twelfth'>12th School</option>
                                            <option value='percentage_diploma'>Diploma Percentage</option>
                                            <option value='stream_diploma'>Diploma Stream</option>
                                            <option value='year_diploma'>Diploma Year</option>
                                            <option value='college_diploma'>Diploma College</option>
                                        </optgroup>
                                        <optgroup label='Addtional Details'>
                                            <option value='father_name'>Father's Name</option>
                                            <option value='father_contact'>Father's Contact No.</option>
                                            <option value='father_occupation'>Father's Occupation</option>
                                            <option value='mother_name'>Mother's Name</option>
                                            <option value='mother_contact'>Mother's Contact No.</option>
                                            <option value='mother_occupation'>Mother's Occupation</option>
                                            <option value='guardian_contact'>Guardian's Contact No.</option>
                                            <option value='present_address'>Permanent Address</option>
                                            <option value='permanent_address'>Present Address</option>
                                        </optgroup>
                                    </select>
                                    <script type="text/javascript">
                                        // run pre selected options
                                        $('#optgroup').multiSelect({
                                            selectableOptgroup: true
                                        });
                                    </script>
                                </div>
                            </div>


                            <div class="form-group">
                              <div class="col-md-8 pull-right">
                                <button class="btn btn-success" type="submit" value="Submit">Submit</button>
                              </div>
                            </div>

                            </fieldset>

                            </form>
                    </div>
                </div>
                 </div>
            </div>
    </div>
{% endblock %}