{% extends 'website/base.html' %}

{% block title %} Dashboard {% endblock %}

{% block extrafiles %}
    {% load staticfiles %}
    <script src="{% static 'website/js/jquery.multi-select.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/multi-select.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/form-style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/form-elements.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/headstyle.css' %}"/>
    <script src="{% static 'website/js/event-form.js' %}"></script>

{% endblock %}

{% block dashboard %}
    <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Dashboard</h1>
                        {% if user.is_authenticated %}
                            <p>Hello,{{ user.username }}</p>
                            <p> {{ message }}</p>
                        {% endif %}
                    </div>
                </div>
            <!-- ... Your content goes here ... -->
                <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#active">Active Events</a></li>
                <li><a data-toggle="tab" href="#expired">Expired Events</a></li>
                <li><a data-toggle="tab" href="#registered">Registered Events</a></li>
                <li><a data-toggle="tab" href="#faculty">Events Created by You</a></li>
                <li><a data-toggle="tab" href="#create-event">Create Event</a></li>
                </ul>
                <div class="tab-content">
                    <div id="active" class="tab-pane fade in active">
                        <br>
                        <div class="row">
                            {% for act_event in active_events %}
                                 <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12 lead">
                                        {{ act_event.eve.name }}
                                    </div>
                                    <div class="col-xs-12">
                                        {{ act_event.eve.description }}
                                    </div>
                                    <div class="col-xs-12">
                                        {{ act_event.eve.start_date }}
                                    </div>
                                    <div class="col-xs-12">
                                        {{ act_event.eve.end_date }}
                                    </div>
                                </div>
                            </div>
                                <div class="panel-footer">
                                    <a href="/allow/{{ act_event.eve.id }}/">
                                    <span class="pull-left"><i class="fa fa-check fa-2x"></i></span>
                                    </a>
                                    <a href="#">
                                    <span class="pull-right"><i class="fa fa-times fa-2x"></i></span>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>

                        </div>
                    </div>
                            {% endfor %}

                        </div>
                    </div>

                    <div id="faculty" class="tab-pane fade">
                        <div class="row">
                            <br>
                            {% for myevent in my_events %}
                                <div class="col-lg-3 col-md-6">
                                    <div class="panel panel-green">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-12 lead">
                                                    {{ myevent.name}}
                                                </div>
                                                <div class="col-xs-12">
                                                    {{ myevent.start_date }}
                                                </div>
                                                <div class="col-xs-12">
                                                    {{ myevent.end_date }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="custom-panel-footer-faculty">
                                            <div class="col-xs-3 ">
                                                <div style="background-color:#5cb85c; height:25px; width:25px; border-radius: 50%; line-height:25px; text-align:center; color:#fff">10</div>
                                            </div>
                                            <div class="col-xs-3">
                                                <a href="#">
                                                    <div class="col-xs-3" style="text-align:center;"><i class="fa fa-download fa-2x"></i></div>
                                                </a>
                                            </div>
                                            <div class="col-xs-3">
                                                <a href="/entries/{{ myevent.id }}">
                                                    <div class="col-xs-3"><i class="fa fa-eye fa-2x"></i></div>
                                                </a>
                                            </div>
                                            <div class="col-xs-3">
                                                <a href="{% url 'delete-event' myevent.id %}">
                                                    <div class="col-xs-3"><i class="fa fa-times-circle fa-2x"></i></div>
                                                </a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div id="expired" class="tab-pane fade">

                        <div class="row">
                        <br>
                            {% for event in expired_events %}
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-red">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 lead">
                                                {{ event.eve.name }}
                                            </div>
                                            <div class="col-xs-12">
                                                {{ event.eve.start_date }}
                                            </div>
                                            <div class="col-xs-12">
                                                Last Date: 25 August 2016
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-footer">
                                        <a href="#">
                                            <span class="pull-left"><i class="fa fa-clock-o fa-2x"></i></span>
                                        </a>
                                        <a href="#">
                                            <span class="pull-right">2 days ago</span>
                                        </a>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                     </div>

                    <div id="registered" class="tab-pane fade">
                        <div class="row">
                        <br>
                            {%  for registered_event in registered %}
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 lead">
                                                {{ registered_event.event.name }}
                                            </div>
                                            <div class="col-xs-12">
                                                {{ registered_event.event.start_date }}
                                            </div>
                                            <div class="col-xs-12">
                                                {{ registered_event.event.end_date }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-footer">
                                        <a href="#">
                                            <span class="pull-left"><i class="fa fa-clock-o fa-2x"></i></span>
                                        </a>
                                        <a href="#">
                                            <span class="pull-right">2 days ago</span>
                                        </a>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="create-event" class="tab-pane fade">
                    <br>
                    <div class="row">
                        <form class="form-horizontal event-form" action="{% url 'new-event' %}" method="post">
                            {% csrf_token %}
                            <fieldset>
                            <!-- Event Name-->
                                <!-- Description -->
                             <div class="form-group">
                              <label class="col-md-4 control-label" for="event_name">Event Name</label>
                              <div class="col-md-4">
                              {{ event_form.name }}
                              </div>
                            </div>

                             <!-- Start Date & Time-->
                            <div class="form-group">
                              <label class="col-md-4 control-label" for="event_desc">Description</label>
                              <div class="col-md-4">
                                {{ event_form.description }}
                              </div>
                            </div>
                            <!-- End Date & Time-->
                            <div class="form-group">
                              <label class="col-md-4 control-label" for="event_start_date">Start Date</label>
                              <div class="col-md-4">
                                {{ event_form.start_date }}
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-md-4 control-label" for="event_end_date">End Date</label>
                              <div class="col-md-4">
                                {{ event_form.end_date }}
                              </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="category">Category</label>
                                <div class="col-md-4">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="category" value="CSE">CSE</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="category" value="IT">IT</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="category" value="ME">ME</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="category" value="Civil">Civil</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="category" value="ECE">ECE</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="category" value="EE">EE</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="optgroup">Select Required Fields</label>
                                <div class="col-md-4">
                                    <select name="fields" id='optgroup' multiple='multiple'>
                                        <optgroup label='Basic Profile'>
                                            <option value='name'>Name</option>
                                            <option value='dob'>Date of Birth</option>
                                            <option value='gender'>Gender</option>
                                            <option value='5'>Birth Place</option>
                                            <option value='contact'>Contact No.</option>
                                            <option value='7'>Alternate Contact No.</option>
                                            <option value='age'>Age</option>
                                            <option value='9'>Passport Size Photo</option>
                                            <option value='10' selected>Signature</option>
                                        </optgroup>
                                        <optgroup label='Current Education Details'>
                                            <option value='11'>Class Roll No.</option>
                                            <option value='univ_rno'>University Roll No.</option>
                                            <option value='13'>Current Semester</option>
                                            <option value='14'>Section</option>
                                            <option value='batch'>Batch</option>
                                            <option value='16'>Name of College</option>
                                        </optgroup>
                                        <optgroup label='Semester Percentage'>
                                            <option value='17'>I Semester</option>
                                            <option value='18'>II Semester</option>
                                            <option value='19'>III Semester</option>
                                            <option value='20'>IV Semester</option>
                                            <option value='21'>V Semester</option>
                                            <option value='22'>VI Semester</option>
                                            <option value='23'>VII Semester</option>
                                            <option value='24'>VIII Semester</option>
                                            <option value='25'>Aggregate</option>
                                        </optgroup>
                                        <optgroup label='Previous Education Details'>
                                            <option value='26'>Mode of Admission</option>
                                            <option value='27'>AIEEE/RPET Rank</option>
                                            <option value='28'>10th Percentage</option>
                                            <option value='29'>10th Board</option>
                                            <option value='30'>Year of Passing(10th)</option>
                                            <option value='31'>Name of School (10th)</option>
                                            <option value='32'>Medium (Hindi/English) (10th class) </option>
                                            <option value='33'>12th Percentage</option>
                                            <option value='34'>12th Board</option>
                                            <option value='35'>Year of Passing(12th)</option>
                                            <option value='36'>Name of School (12th)</option>
                                            <option value='37'>Medium (Hindi/English) (12th class) </option>
                                            <option value='38'>Diploma Percentage</option>
                                            <option value='39'>Year of Passing Diploma</option>
                                            <option value='40'>Stream In Diploma</option>
                                            <option value='41'>Name of Diploma College</option>
                                        </optgroup>
                                        <optgroup label='Addtional Details'>
                                            <option value='42'>Permanent Address</option>
                                            <option value='43'>Present Address</option>
                                            <option value='father_name'>Father's Name</option>
                                            <option value='45'>Father's Occupation</option>
                                            <option value='46'>Father's Contact No.</option>
                                            <option value='mother_name'>Mother's Name</option>
                                            <option value='48'>Mother's Occupation</option>
                                            <option value='49'>Mother's Contact No.</option>
                                            <option value='50'>Guardian's Contact No.</option>
                                        </optgroup>
                                    </select>
                                    <script type="text/javascript">
                                        // run pre selected options
                                        $('#optgroup').multiSelect({
                                            selectableOptgroup: true
                                        });
                                    </script>
                                </div>
                            </div>


                            <div class="form-group">
                              <div class="col-md-8 pull-right">
                                <button class="btn btn-success" type="submit" value="Submit">Submit</button>
                              </div>
                            </div>

                            </fieldset>

                            </form>
                    </div>
                </div>
                 </div>
            </div>
    </div>
{% endblock %}