<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Event</title>
    <style>
        .modal-body {
        max-height: calc(100vh - 212px);
        overflow-y: auto;
        }
    </style>
    <script>
        $(function () {
            {% for x in selected_categories %}
                $('[value="{{ x.category }}"]').attr('selected', 'selected');
            {% endfor %}
            {% for f in selected_fields %}
                $('[value="{{ f }}"]').attr('selected', 'selected');
            {% endfor %}
            $('.optgroup').multiSelect();
        });
    </script>
</head>
<body>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Edit Event</h4>
</div>
<div>
</div>
<form class="form-horizontal event-form" action="/edit-event/{{ eventid }}/" method="post">
     {% csrf_token %}
<div class="modal-body">
        <fieldset>
            <!-- Event Name-->
                <!-- Description -->
             <div class="form-group">
              <label class="col-md-4 control-label" for="event_name">Event Name</label>
              <div class="col-md-4">
              {{ event_form.name }}
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label" for="event_desc">Description</label>
              <div class="col-md-4">
                {{ event_form.description }}
              </div>
            </div>
            <!-- End Date & Time-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="event_end_date">Entry Closed on</label>
              <div class="col-md-4">
                {{ event_form.end_date }}
              </div>
            </div>
            <!-- Start Date & Time-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="event_start_date">Event Start On</label>
              <div class="col-md-4">
                {{ event_form.start_date }}
              </div>
            </div>
            <div class="form-group">
                                <label class="col-md-4 control-label" for="optgroup">Category</label>
                                <div class="col-md-4">
                                    <select name="category" class='optgroup' multiple='multiple'>
                                        <optgroup label='IV Year'>
                                            <option value=8CSA>8CSA</option>
                                            <option value=8CSB>8CSB</option>
                                            <option value=8CSC>8CSC</option>
                                            <option value=8CSD>8CSD</option>
                                        </optgroup>
                                        <optgroup label='III Year'>
                                            <option value=6CSA>6CSA</option>
                                            <option value=6CSB>6CSB</option>
                                            <option value=6CSC>6CSC</option>
                                            <option value=6CSD>6CSD</option>
                                        </optgroup>
                                        <optgroup label='II Year'>
                                            <option value=4CSA>4CSA</option>
                                            <option value=4CSB>4CSB</option>
                                            <option value=4CSC>4CSC</option>
                                            <option value=4CSD>4CSD</option>
                                        </optgroup>
                                        <optgroup label='I Year'>
                                            <option value=2CSA>2CSA</option>
                                            <option value=2CSB>2CSB</option>
                                            <option value=2CSC>2CSC</option>
                                            <option value=2CSD>2CSD</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="optgroup">Select Required Fields</label>
                <div class="col-md-4">
                    <select name="fields" class='optgroup' multiple='multiple'>
                        <optgroup label='Basic Profile'>
                            <option value='name' selected >Name</option>
                            <option value='dob'>Date of Birth</option>
                            <option value='age'>Age</option>
                            <option value='gender'>Gender</option>
                            <option value='birthplace'>Birth Place</option>
                            <option value='contact'>Contact No.</option>
                            <option value='alternate_contact'>Alternate Contact No.</option>
                            <option value='passphoto'>Passport Size Photo</option>
                            <option value='sign'>Signature</option>
                        </optgroup>
                        <optgroup label='Current Academic Details'>
                            <option value='class_rno'>Class Roll No.</option>
                            <option value='univ_rno'>University Roll No.</option>
                            <option value='semester'>Current Semester</option>
                            <option value='section'>Section</option>
                            <option value='batch'>Batch</option>
                            <option value='branch'>Branch</option>
                            <option value='college'>College</option>
                            <option value='per_sem1'>Semester 1</option>
                            <option value='per_sem2'>Semester 2</option>
                            <option value='per_sem3'>Semester 3</option>
                            <option value='per_sem4'>Semester 4</option>
                            <option value='per_sem5'>Semester 5</option>
                            <option value='per_sem6'>Semester 6</option>
                            <option value='per_sem7'>Semester 7</option>
                            <option value='per_sem8'>Semester 8</option>
                        </optgroup>
                        <optgroup label='Previous Academic details'>
                            <option value='admission_mode'>Admission Mode</option>
                            <option value='admission_rank'>Admission Rank</option>
                            <option value='percentage_tenth'>10th Percentage</option>
                            <option value='board_tenth'>10th Board</option>
                            <option value='medium_tenth'>10th Medium</option>
                            <option value='year_tenth'> 10th Year</option>
                            <option value='school_tenth'>10th School</option>
                            <option value='percentage_twelfth'>12th Percentage</option>
                            <option value='board_twelfth'>12th Board</option>
                            <option value='medium_twelfth'>12th Medium</option>
                            <option value='year_twelfth'>12th year</option>
                            <option value='school_twelfth'>12th School</option>
                            <option value='percentage_diploma'>Diploma Percentage</option>
                            <option value='stream_diploma'>Diploma Stream</option>
                            <option value='year_diploma'>Diploma Year</option>
                            <option value='college_diploma'>Diploma College</option>
                        </optgroup>
                        <optgroup label='Addtional Details'>
                            <option value='father_name'>Father's Name</option>
                            <option value='father_contact'>Father's Contact No.</option>
                            <option value='father_occupation'>Father's Occupation</option>
                            <option value='mother_name'>Mother's Name</option>
                            <option value='mother_contact'>Mother's Contact No.</option>
                            <option value='mother_occupation'>Mother's Occupation</option>
                            <option value='guardian_contact'>Guardian's Contact No.</option>
                            <option value='present_address'>Permanent Address</option>
                            <option value='permanent_address'>Present Address</option>
                        </optgroup>
                    </select>
                    <script type="text/javascript">
                        // run pre selected options
                        $('.optgroup').multiSelect({
                            selectableOptgroup: true
                        });
                    </script>
                </div>
            </div>
        </fieldset>

</div>
<div class="modal-footer">
    <button class="btn btn-success" type="submit" value="Submit">Submit</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</form>
</body>
</html>