<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Log in</title>
    {% load staticfiles %}
    <!-- Bootstrap Core CSS -->
    <link href='{% static "website/css/bootstrap.min.css" %}' rel="stylesheet">
    <!-- Custom CSS -->
    <link href='{% static "website/css/startmin.css" %}'rel="stylesheet">
    <!-- jQuery -->
    <script src='{% static "website/js/jquery-3.1.1.min.js" %}'></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Startmin</a>
            </div>

            <!-- Top Navigation: Left Menu -->
            <ul class="nav navbar-nav navbar-left navbar-top-links">
                <li><a href="#"><i class="fa fa-home fa-fw"></i> Website</a></li>
            </ul>
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper" style="margin:0px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Get in</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="panel panel-default">
                <div class="panel-heading">LOG IN</div>
                <div class="panel-body">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        {{ login_error }}
                        <div class="form-group">
                            <label for="InputUsername_login">Username</label>
                            <input type="text" name="username_login" class="form-control" id="InputUsername_login" placeholder="Enter email" />

                        </div>
                        <div class="form-group">
                            <label for="InputPassword_login">Password</label>
                            <input type="password" name="pass_login" class="form-control" id="InputPassword_login" placeholder="Password" />
                        </div>
                        <button type="submit" class="btn btn-default" name="signin" value="in">Submit</button>
                        <hr/>
                    </form>
                </div>
            </div>
                    </div>
                    <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">SIGN UP</div>
                <div class="panel-body">
                    {% if registered %}
                    <p>Thanks For Registering,Please Login!</p>
                    {% else %}
                    <form method="POST" action="{% url 'register' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="InputName_userProfile">Name</label>
                            {{ user_profile_form.name }}
                        </div>
                        <div class="form-group">
                            <label for="InputUser_reg">Username</label>
                            {{ user_reg_form.username }}
                        </div>
                        {{ user_reg_form.username.errors }}
                        <div class="form-group">
                            <label for="InputEmail_reg">Email</label>
                            {{ user_reg_form.email }}
                        </div>
                        {{ user_reg_form.email.errors }}
                        <div class="form-group">
                            <label for="InputPassword_reg">Password</label>
                            {{ user_reg_form.password }}
                        </div>
                        <button type="submit" class="btn btn-default" name="signup">Submit</button>
                        <hr />
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>