{% extends 'website/base.html' %}

{% block title %} Profile {% endblock %}

{% block extrafiles %}
    {% load staticfiles %}
    <script src="{% static 'website/js/jquery.multi-select.js' %}"></script>
    <!-- <script src="{% static 'website/js/form-scripts.js' %}"></script>-->
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/multi-select.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/form-style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/form-elements.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/headstyle.css' %}"/>

{% endblock %}

{% block dashboard %}
    <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Edit Details</h1>
                    </div>
                </div>
                <!-- ... Your content goes here ... -->
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#basic">Basic Profile&nbsp;<i class="fa fa-user"></i></a></li>
                    <li><a data-toggle="tab" href="#current">Current Academic Details&nbsp;<i class="fa fa-book"></i></a></li>
                    <li><a data-toggle="tab" href="#previous">Previous Academic Details&nbsp;<i class="fa fa-book"></i></a></li>
                    <li><a data-toggle="tab" href="#additional">Additional Details&nbsp;<i class="fa fa-send"></i></a></li>
                </ul>

                <div class="tab-content">
                    <div id="basic" class="tab-pane fade in active" style="border-radius: 5px;background: #eee;margin-top:5px; padding-bottom:10px;">
                        <form role="form" action="{% url 'website.views.user_profile' %}" method="post" class="basic-profile-form">
                        {% csrf_token %}
                        <fieldset>
                            <style>
                                li{display: inline-block;}
                            </style>
                           <br>

                              <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group">
                                        <label class="sr-only" for="form-name">Name</label>
                                        {{ basic_profile_form.name }}
                                        </div>
                                        <div class="form-group">
                                        <label class="sr-only" for="form-email">Email</label>
                                        {{ user_form.email }}
                                        </div>
                                        <div class="form-group">
                                        <label class="sr-only" for="form-dob">DOB</label>
                                        {{ basic_profile_form.dob }}
                                        </div>
                                        <div class="form-group">
                                        <label for="form-gender">Gender : </label>
                                            {{ basic_profile_form.gender }}
                                        </div>
                                        <div class="form-group">
                                        <label class="sr-only" for="form-birthplace">Birth Place</label>
                                        {{ basic_profile_form.birthplace }}
                                        </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group">
                                        <label class="sr-only" for="form-contact">Contact</label>
                                        {{ basic_profile_form.contact }}
                                        {{ basic_profile_form.contact.errors }}
                                        </div>
                                        <div class="form-group">
                                        <label class="sr-only" for="form-acontact">Alternate Contact</label>
                                        {{ basic_profile_form.alternate_contact }}
                                        {{ basic_profile_form.alternate_contact.errors }}
                                        </div>
                                        <div class="form-group">
                                        <label class="btn btn-info" for="my-file-selector">
                                            <input id="my-file-selector" type="file" style="display:none;" onchange="$('#upload-file-info').html($(this).val());"> Upload Photo
                                        </label>
                                        <span class='label label-info' id="upload-file-info"></span>
                                        </div>
                                        <div class="form-group">
                                        <label class="btn btn-info" for="my-file-selector">
                                            <input id="my-file-selector" type="file" style="display:none;" onchange="$('#upload-file-info').html($(this).val());"> Upload Signature
                                        </label>
                                        <span class='label label-info' id="upload-file-info"></span>
                                        </div>
                                        <button type="submit" class="btn" name="update" value="update_basic">Update</button>
                             </div>
                        </fieldset>
                        </form>
                    </div>
                    <div id="current" class="tab-pane fade" style="border-radius:5px;background: #eee; margin-top:5px; padding-bottom:10px;">
                        <form role="form" action="{% url 'website.views.user_profile' %}"  method="post" class="current-acad-form">
                        {% csrf_token %}
                        <fieldset>
                          <br>
                             <div class="col-lg-3 col-md-3 col-sm-12">
                                    <div class="form-group">
                                        <h4>College Details</h4>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-college">College</label>
                                        {{ current_profile_form.college }}
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-urollno">University Roll No</label>
                                        {{ current_profile_form.univ_rno }}
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-croll">Class Roll No.</label>
                                        {{ current_profile_form.class_rno }}
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-year">Year</label>
                                        {{ current_profile_form.year }}
                                    </div>
                             </div>
                             <div class="col-lg-3 col-md-3 col-sm-12">
                                    <div class="form-group">
                                        <h4>Class Details</h4>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-semester">Semester</label>
                                        {{ current_profile_form.semester }}
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-branch">Branch</label>
                                        {{ current_profile_form.branch }}
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-section">Section</label>
                                        {{ current_profile_form.section }}
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-batch">Batch</label>
                                        {{ current_profile_form.batch }}
                                    </div>
                             </div>
                             <div class="col-lg-3 col-md-3 col-sm-12">
                                    <div class="form-group">
                                        <h4>Semester Percentage(I-VIII)</h4>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-sem1">Semester 1</label>
                                        {{ current_profile_form.per_sem1 }}
                                        {{ current_profile_form.per_sem1.errors }}
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-sem2">Semester 2</label>
                                        {{ current_profile_form.per_sem2 }}
                                        {{ current_profile_form.per_sem2.errors }}
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-sem3">Semester 3</label>
                                        {{ current_profile_form.per_sem3 }}
                                        {{ current_profile_form.per_sem3.errors }}
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-sem4">Semester 4</label>
                                        {{ current_profile_form.per_sem4 }}
                                        {{ current_profile_form.per_sem4.errors }}
                                    </div>
                             </div>
                             <div class="col-lg-3 col-md-3 col-sm-12">
                                    <div class="form-group">
                                        <h4>(Leave blank if not known !)</h4>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-sem5">Semester 5</label>
                                        {{ current_profile_form.per_sem5 }}
                                        {{ current_profile_form.per_sem5.errors }}
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-sem6">Semester 6</label>
                                        {{ current_profile_form.per_sem6 }}
                                        {{ current_profile_form.per_sem6.errors }}
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-sem7">Semester 7</label>
                                        {{ current_profile_form.per_sem7 }}
                                        {{ current_profile_form.per_sem7.errors }}
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-sem8">Semester 8</label>
                                        {{ current_profile_form.per_sem8 }}
                                        {{ current_profile_form.per_sem8.errors }}
                                    </div>
                                    <button type="submit" class="btn" name="update" value="update_current">Update</button>
                             </div>
                        </fieldset>
                        </form>
                    </div>
                    <div id="previous" class="tab-pane fade" style="border-radius:5px;background: #eee; margin-top:5px; padding-bottom:10px;">
                        <form role="form" action="{% url 'website.views.user_profile' %}" method="post" class="prev-acad-form">
                        {% csrf_token %}
                                <fieldset>
                                    <br>
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <h4>Admission Details</h4>
                                        </div>
                                        <div class="form-group">
                                        <label class="sr-only" for="form-mode">Mode</label>
                                        {{ previous_profile_form.admission_mode }}
                                        </div>
                                        <div class="form-group">
                                        <label class="sr-only" for="form-rank">Rank</label>
                                        {{ previous_profile_form.admission_rank }}
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <h4>12th Class Details</h4>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="form-twfp">12th Precentage</label>
                                            {{ previous_profile_form.percentage_twelfth }}
                                            {{ previous_profile_form.percentage_twelfth.errors }}
                                        </div>
                                        <div class="form-group">
                                        <label class="sr-only" for="form-twfboard">12th Board</label>
                                        {{ previous_profile_form.board_twelfth }}
                                        </div>
                                        <div class="form-group">
                                        <label class="sr-only" for="form-twfmedium">12th Medium</label>
                                        {{ previous_profile_form.medium_twelfth }}
                                        </div>
                                        <div class="form-group">
                                        <label class="sr-only" for="form-twfschool">School</label>
                                        {{ previous_profile_form.school_twelfth }}
                                        </div>
                                        <div class="form-group">
                                        <label class="sr-only" for="form-twfyear">Year of passing (XII)</label>
                                        {{ previous_profile_form.year_twelfth }}
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <h4>10th Class Details</h4>
                                        </div>
                                        <div class="form-group">
                                        <label class="sr-only" for="form-tp">10th Precentage</label>
                                        {{ previous_profile_form.percentage_tenth }}
                                            {{ previous_profile_form.percentage_tenth.errors }}
                                        </div>
                                        <div class="form-group">
                                        <label class="sr-only" for="form-tboard">10th Board</label>
                                        {{ previous_profile_form.board_tenth }}
                                        </div>
                                        <div class="form-group">
                                        <label class="sr-only" for="form-tmedium">10th Medium</label>
                                        {{ previous_profile_form.medium_tenth }}
                                        </div>
                                        <div class="form-group">
                                        <label class="sr-only" for="form-tschool">School</label>
                                        {{ previous_profile_form.school_tenth }}
                                        </div>
                                        <div class="form-group">
                                        <label class="sr-only" for="form-tyear">Year of passing (X)</label>
                                        {{ previous_profile_form.year_tenth }}
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <h4>Diploma Details</h4>
                                        </div>
                                        <div class="form-group">
                                        <label class="sr-only" for="form-dp">Diploma Precentage</label>
                                        {{ previous_profile_form.percentage_diploma }}
                                            {{ previous_profile_form.percentage_diploma.errors }}
                                        </div>
                                        <div class="form-group">
                                        <label class="sr-only" for="form-dstream">Stream</label>
                                        {{ previous_profile_form.stream_diploma }}
                                        </div>
                                        <div class="form-group">
                                        <label class="sr-only" for="form-dyear">Year of passing</label>
                                            {{ previous_profile_form.year_diploma }}
                                        </div>
                                        <div class="form-group">
                                        <label class="sr-only" for="form-dcollege">College</label>
                                        {{ previous_profile_form.college_diploma }}
                                        </div>
                                        <button type="submit" class="btn" name="update" value="update_previous">Update</button>
                                    </div>
                                </fieldset>
                            </form>
                    </div>
                    <div id="additional" class="tab-pane fade" style="border-radius:5px;background: #eee; margin-top:5px; padding-bottom:10px;">
                        <form role="form" action="{% url 'website.views.user_profile' %}" method="post" class="addtional-form">
                        {% csrf_token %}
                        <fieldset>
                          <br>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                            <h4>Father's Details</h4>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-fname">Father's Name</label>
                                        {{ additional_profile_form.father_name }}
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-fcontact">Father's Contact</label>
                                        {{ additional_profile_form.father_contact }}
                                        {{ additional_profile_form.father_contact.errors }}
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-occupation">Father's Occupation</label>
                                        {{ additional_profile_form.father_occupation }}
                                    </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                            <h4>Mother's Details</h4>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-mname">Mothers's Name</label>
                                        {{ additional_profile_form.mother_name }}
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-mcontact">Mother's Contact</label>
                                        {{ additional_profile_form.mother_contact }}
                                        {{ additional_profile_form.mother_contact.errors }}
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-occupation">Mother's Occupation</label>
                                        {{ additional_profile_form.mother_occupation }}
                                    </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                            <h4>Other Details</h4>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-gcontact">Gurdian Contact</label>
                                        {{ additional_profile_form.guardian_contact }}
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-presentaddr">present address</label>
                                        {{ additional_profile_form.present_address }}
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-permanentaddr">Permanent Address</label>
                                        {{ additional_profile_form.permanent_address }}
                                    </div>
                                    <button type="submit" class="btn" name="update" value="update_additional">Update</button>
                            </div>
                          </fieldset>
                        </form>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}